@value completedMainColor, completedTextColor, inProgressMainColor, inProgressTextColor from truckloadListColors;
@value defaultSuccessBackgroundColor, defaultSuccessColor, defaultSevereWarningBackgroundColor, defaultSevereWarningColor, defaultWarningColor, defaultWarningBackgroundColor from colors;
